body {
    margin: 0;
    font-family: Arial;
    background-size: cover;
    background: url("/static/img/bg.avif"); /* Okay */
    color: white;
    overflow: hidden;
}

* {
    user-select: none;
}

#login {
    text-align: center;
    -webkit-backdrop-filter: blur(20px) brightness(0.5);
    backdrop-filter: blur(20px) brightness(0.5);
    width: 100vw;
    height: 100vh;
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

img {
    width: 400px;
    border-radius: 8px;
    box-shadow: 3px 3px rgb(73, 73, 73);
}

input {
    color: white;
    border: 1px solid rgb(73, 73, 73);
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
    box-shadow: 2px 2px rgb(78, 78, 78);
}

input:focus {
    outline: none;
}

input {
    margin-bottom: 6px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid rgb(163, 163, 163);
}

input[type="submit"]:active {
    border: 1px solid rgb(163, 163, 163);
    box-shadow: 0px 0px 2px rgb(73, 73, 73);
}

input[type="submit"].big {
    font-size: 1.5rem;
}

input[type="submit"].small {
    font-size: 0.75rem;
}