:root {
    /* FONTS */
    --font-main: "Arial";
    --font-monospace: "monospace";

    /* COLORS */
    --fg: #fff;
    --bg: #000;
    --accent: rgb(232, 182, 255);
    --separator: rgb(180,180,180,0.8);
    --error: #ff8080;
    --naviconfilter: brightness(0) saturate(100%) invert(91%) sepia(19%) saturate(4470%) hue-rotate(198deg) brightness(99%) contrast(105%);
    --inputiconfilter: brightness(0) saturate(100%) invert(91%) sepia(19%) saturate(4470%) hue-rotate(198deg) brightness(99%) contrast(105%);
    --widgeticonfilter: brightness(0) saturate(100%) invert(91%) sepia(19%) saturate(4470%) hue-rotate(198deg) brightness(99%) contrast(105%);

    /* BACKGROUNDS and FILTERS */
    --mainbg: transparent;
    --navbg: transparent;
    --asidebg: transparent;
    --overlaybg: rgba(0,0,0,0.5);
    --overlayinnerbg: rgb(255,255,255);
    --inputbg: #222;
    --navitembg: rgb(255,255,255);
    --navitemactivebg: rgb(232,200,255);
    --navitemhoverbg: rgba(232,200,255,0.5);
    --navheaderbg: rgb(255,255,255);
    --navcategorybg: rgb(255,255,255);

    --mainfg: #fff;
    --asidefg: #fff;
    --overlayinnerfg: #000;
    --inputfg: #fff;
    --navitemfg: #000;
    --navheaderfg: #000;
    --navitemactivefg: #333;

    --navfilter: blur(20px);
    --mainfilter: blur(20px);
    --asidefilter: blur(20px);
    --overlayinnerfilter: none;
    --overlayfilter: none;

    /* SIZING and POSITIONING */
    --navsize: 200px;
    --asidesize: 200px;

    --navorder: 1;
    --mainorder: 2;
    --asideorder: 3;

    --navpadding: 8px;
    --mainpadding: 8px;
    --asidepadding: 8px;
    --overlayinnerpadding: 8px;
    --navitempadding: 4px;
    --navheaderpadding: 4px;
    --messagepadding: 8px;

    --navitemsize: 16px; /* todo, expand on this !!!!!!! */
    --naviconsize: 24px;
    --navheadersize: 12px;
    --naviconshow: block;
    --messagetextsize: 16px;
    --messageusernametextsize: 18px;
    --messagetimestamptextsize: 12px;
    --pfpsize: 38px;

    --messagebarmargin: 4px;
    --navcategorymargin: 16px;
    --navitemmargin: 8px;
    --messageheadermargin: 8px;
    --messagetextmargin: 4px;
    --messagemargin: 8px;

    /* BORDERS and SHADOWS */
    /* todo: border-sides */
    --navitemborderradius: 8px;
    --navcategoryborderradius: 8px;
    --overlayborderradius: 16px 16px 0px 0px;
    --inputborderradius: 4px;
    --messageborderradius: 8px;
    --pfpborderradius: 8px;

    --navitemborder: none;
    --navheaderborder: 2px inset rgb(128,128,128);
    --navcategoryborder: none;
    --overlayborder: none;
    --inputborder: 1px solid white;
}

* {
    box-sizing: border-box;
    user-select: none;
    transition: all 0.3s; /* remove this.. maybe... */
}

*:focus {
    outline: none;
}

p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    font-family: var(--font-main);
    color: var(--fg);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.3s;
    background: var(--bg);
    color: var(--fg);
    z-index: 999;
}

input, button, textarea {
    color: var(--inputfg);
    background-color: var(--inputbg);
    border-radius: var(--inputborderradius);
    border: var(--inputborder);
}

input:disabled, button:disabled, textarea:disabled {
    opacity: 0.5;
    /* todo: customizable */
}

main {
    -webkit-backdrop-filter: var(--mainfilter);
    backdrop-filter: var(--mainfilter);
    background: var(--mainbg);
    color: var(--mainfg);
    flex: 1;
    order: var(--mainorder);
    padding: var(--mainpadding);

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#mainMessagesContainer {
    flex: 1;
    overflow-y: auto;
}

#mainMessages {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    min-height: 100%;
}

.message {
    padding: var(--messagepadding);
    margin: var(--messagemargin);
    border-radius: var(--messageborderradius);
}

.messageHeader img {
    width: var(--pfpsize);
    height: var(--pfpsize);
    border-radius: var(--pfpborderradius);
}

.messageHeader {
    display: flex;
    align-items: flex-start;
}

.messageHeaderMain {
    flex: 1;
    margin-left: calc(var(--messageheadermargin) / 2);
    margin-right: calc(var(--messageheadermargin) / 2);
}

.messageHeaderMain p:first-child {
    font-size: var(--messageusernametextsize);
    margin-right: 4px;
}

.messageHeaderMain p:last-child {
    font-size: var(--messagetimestamptextsize);
}

.messageContent {
    font-size: var(--messagetextsize);
    margin-top: var(--messagetextmargin);
}

.messageText, .messageText * {
    user-select: text;
}

#mainBottom {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#mainBottom img {
    cursor: pointer;
    filter: var(--inputiconfilter);
}

#mainBottom * {
    margin-left: calc(var(--messagebarmargin) / 2);
    margin-right: calc(var(--messagebarmargin) / 2);
    height: 48px;
}

#mainBottom textarea {
    flex: 1;
    resize: none;
}

nav {
    -webkit-backdrop-filter: var(--navfilter);
    backdrop-filter: var(--navfilter);
    background: var(--navbg);
    width: var(--navsize);
    order: var(--navorder);
    padding: var(--navpadding);
    overflow-y: auto;
}

.navItem {
    background: var(--navitembg);
    color: var(--navitemfg);
    margin-top: calc(var(--navitemmargin) / 2);
    margin-bottom: calc(var(--navitemmargin) / 2);
    padding: var(--navitempadding);
    border-radius: var(--navitemborderradius);
    border: var(--navitemborder);
    height: calc(var(--navitemsize) + var(--navitempadding) * 2);
    font-size: var(--navitemsize);

    cursor: pointer;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.navItem img {
    height: calc(var(--naviconsize));
    margin-right: 4px; /* todo: customize this */
    display: var(--naviconshow);
    filter: var(--naviconfilter);
}

.navItem:hover {
    background: var(--navitemhoverbg);
}

.navItem.active {
    background: var(--navitemactivebg); /* more of this pls TODO */
    color: var(--navitemactivefg);
}

summary.navItem {
    background: var(--navheaderbg);
    color: var(--navheaderfg);
    border: var(--navheaderborder);
    height: calc(var(--navheadersize) + var(--navheaderpadding) * 2);
    font-size: var(--navheadersize);
}

.navCategory, #navStatic {
    margin-top: calc(var(--navcategorymargin) / 2);
    margin-bottom: calc(var(--navcategorymargin) / 2);
    background: var(--navcategorybg);
    border: var(--navcategoryborder);
    border-radius: var(--navcategoryborderradius);
}
#navStatic, #navStatic > div:first-child, .navCategory > summary {
    margin-top: 0;
}

#navStatic > div:last-child, .navCategory > div:last-child, .navCategory > summary:not(summary[open]), .navItem:last-child, .navCategory:last-child {
    margin-bottom: 0;
}

aside {
    -webkit-backdrop-filter: var(--asidefilter);
    backdrop-filter: var(--asidefilter);
    background: var(--asidebg);
    color: var(--asidefg);
    width: var(--asidesize);
    order: var(--asideorder);
    padding: var(--navpadding);
}

overlay {
    background: var(--overlaybg);
    -webkit-backdrop-filter: var(--overlayfilter);
    backdrop-filter: var(--overlayfilter);

    pointer-events: none;
    opacity: 0;
    position: fixed;
    width: calc(100vw - var(--navsize) - var(--asidesize));
    left: var(--navsize); /* this cant be relied on - make sure to adapt this in js for when order is implemented in settings */
    right: var(--asidesize);
    top: 0;
    height: 100vh;
    transition: opacity 0.3s;
    z-index: 999; /* wait, why do i need this?? my dom is fine?? */
}

overlay.show {
    display: block;
    pointer-events: unset;
    opacity: 1;
}

overlay > div {
    background: var(--overlayinnerbg);
    -webkit-backdrop-filter: var(--overlayinnerfilter);
    backdrop-filter: var(--overlayinnerfilter);
    color: var(--overlayinnerfg);
    padding: var(--overlayinnerpadding);
    border: var(--overlayborder);
    border-radius: var(--overlayborderradius);

    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: 50%;
    min-height: 300px;
    max-height: 600px;
    bottom: -50%;
    transition: bottom 0.3s;
}

overlay.show > div {
    bottom: 0px;
}
