/* css file for phone */
/* MASSIVE TODO!!!!!! */

@media only screen and (max-width: 640px) {
    overlay {
        width: 100%;
        left: 0;
        right: 0;
    }
    
    overlay div {
        height: 75%;
        min-height: unset;
        max-height: unset;
        bottom: -75%;
    }    
}