<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/spinner.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    <title>worsecord</title>
</head>
<body>
    <nav>
        <div id="navStatic">
            <div class="navItem" onclick="showOverlay('settings')">
                <img src="/static/img/icon/settings.svg" alt="settings">
                settings
            </div>
            <div class="navItem" onclick="showOverlay('channelList')">
                <img src="/static/img/icon/channel.svg" alt="channel list">
                channel list
            </div>
            <div class="navItem" onclick="showOverlay('createChannel')">
                <img src="/static/img/icon/new.svg" alt="create channel">
                create channel
            </div>
        </div>
        <div id="navChannels">
        </div>
    </nav>
    <main>
        <div id="mainMessagesContainer">
            <div id="mainMessages">
            </div>
        </div>
        <div id="mainBottom">
            <img onclick="showOverlay('fileUpload')" src="/static/img/icon/upload.svg" alt="file upload">
            <img onclick="showOverlay('personas'); personaOverlay();" src="/static/img/icon/persona.svg" alt="personas">
            <textarea></textarea>
            <img src="/static/img/icon/emoji.svg" alt="emoji">
            <img onclick="showOverlay('gifs')" src="/static/img/icon/gif.svg" alt="gifs">
        </div>
    </main>
    <aside>
        widgets!<br>
        shit like. misskey clock,<br>
        music player (FINALLY)<br>
        users online<br>
        people in channel<br>
        pings<br>
        idk!
    </aside>
    <overlay id="settings">
        <div>
            the settings (someday)<br>
            <p style="cursor: pointer;" onclick="setCookie('seishun', '0', '0'); window.location=window.location;">click this to log out</p><br>
            <input type="text" id="tempASFUCK" placeholder="theme goes here"> <p style="cursor: pointer;" onclick="saveTheme(document.querySelector('#tempASFUCK').value)">click this to upload theme</p>
        </div>
    </overlay>
    <overlay id="channelEdit">
        <div>
            channel edit overlay
        </div>
    </overlay>
    <overlay id="categoryEdit">
        <div>
            category edit overlay
        </div>
    </overlay>
    <overlay id="fileUpload">
        <div>
            <p>todo: drag-anywhere file upload, manual file upload here, along with a previously-uploaded files here too (read: misskey drive but bad)</p>
        </div>
    </overlay>
    <overlay id="personas">
        <div>
            <div class="lds-ripple"><div></div><div></div></div>
            <main></main>
        </div>
    </overlay>
    <overlay id="gifs">
        <div>
            <img src="https://cdn3.emoji.gg/emojis/6276-spinning-cat.gif" alt="">
        </div>
    </overlay>
    <overlay id="createChannel">
        <div>
            this is the proto channel creator<br>
            channel name: <input type="text" id="createChannelName" placeholder="General 3"><br>
            channel description: <input type="text" id="createChannelDesc" placeholder="Cool channel"><br>
            channel category: <input type="text" id="createChannelCategory" placeholder="Default"><br>
            <button onclick="createChannel()">ok</button>
        </div>
    </overlay>
    <overlay id="channelList">
        <div>
            <div class="lds-ripple"><div></div><div></div></div>
            <main></main>
        </div>
    </overlay>
    <loading>
        <div class="lds-ripple"><div></div><div></div></div>
    </loading>
    <script>
        var theme = {};
        {% autoescape false %}
        try {
            theme = {{ theme }};
        } catch (e) {
            // well dont ig 
        }
        {% endautoescape %}
    </script>
    <script src="/static/js/cookie.js"></script>
    <script src="/static/js/longpress.js"></script>
    <script src="/static/js/socketio.js"></script>
    <script src="/static/js/main.js" defer></script>
</body>
</html>