<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>login</title>
</head>
<body>
    <div id="login">
        <img src="/static/img/logo.png" alt="hi welcome to chillis">
        <h2>{{ g.message }}</h2>
        <form action="/" method="post">
            <input type="text" name="username" placeholder="username" required><br>
            <input type="password" name="password" placeholder="password" required><br>
            <input type="submit" class="big" value="login" name="type"><br>
            <input type="submit" class="small" value="register" name="type">
        </form>
    </div>
</body>
</html>